#first-tittle{
    font-size: 30px;
    background-color: black;
    color: red;
}
.second-heading{
    color: green;
}

#third-heading{
    color: blue;
    font-size: 40px;
    background-color: antiquewhite;
}